{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
  <script src="https://www.w3schools.com/lib/w3data.js"></script>
  <script src="/JS/microlight.js"></script>
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="/CSS/simple.css">
      <link rel="stylesheet" href="/CSS/custom.css">
      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- open gragh stuff-->>
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <meta name="og:title" content="{{ config.title }}" />

      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="Quackdoc's Blog" />
    {%if section.title%}
      <title>{{ section.title }}</title>
      <meta name="og:title" content="{{ section.title }}" />
    {%endif%}
    {%if section.description%}
      <meta name="description" content="{{ section.description }}" />
      <meta name="og:description" content="{{ section.description }}" />
    {%endif%}
    {% if page %}
      {%if page.title%}
        <title>{{ page.title }}</title>
        <meta name="og:title" content="{{ page.title }}" />
      {%endif%}
      {% if page.summary %}
      <meta name="description" content="{{ page.summary | safe }}" />
      <meta name="og:description" content="{{ page.summary | safe }}" />
      {% elif config.description %}
      <meta name="description" content="{{ config.description }}" />
      <meta name="og:description" content="{{ config.description }}" />
      {% endif %}
    {% elif config.description %}
      <meta name="description" content="{{ config.description }}" />
    {% endif %} 
  
      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="hack dark main container">
      <div>
        <header>
          <nav>
            <h1 align="center">
              Quack's Blog
            </h1>
            <br/>
            <ul>
              <li><a href="/">HomePage</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about.html">About</a></li>
            </ul>
          </nav>
        </header>
        <div>
        {% block content %}
            {% block header %}
                {% if config.extra.after_dark_menu %}
                    <header>
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                        {% for item in config.extra.after_dark_menu %}
                            <a itemprop="url"
                               class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                                <span itemprop="name">{{ item.name }}</span></a>
                        {% endfor %}
                        </nav>
                    </header>
                {% endif %}
            {% endblock header %}

            <main>
                {% if config.extra.after_dark_title %}
                    <header>
                        <h1>{{ config.extra.after_dark_title }}</h1>
                        <h1>AAAAAAAAAAAAAAAAAAA</h1>
                    </header>
                {% endif %}
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}

                <nav>
                  <p>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>
            </main>
        {% endblock content %}
        <hr>
          <div>
          <div w3-include-html="/signature.html"></div>
          </div>
        <hr>
        <script>
          w3IncludeHTML();
        </script>
    </body>

</html>
